# Python Introduction

In this tutorial, we will cover the basics of python: data types, iteration, functions, and classes. Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (`numpy`, `scipy`, `matplotlib`) it becomes a powerful environment for scientific computing.

This tutorial is adapted from the [Stanford cs231n class](https://cs231n.github.io/python-numpy-tutorial/) and Xavier Olive's [python seminar](https://github.com/xoolive/pyseminar), both under the MIT license. It requires Python version 3.7 or higher.

In [2]:
!python3 --version

Python 3.8.10

Python is a high-level, dynamically typed multiparadigm programming language. Python code is designed to be readable, with the insight that we spend more time reading code than writing it. As an example, here is an implementation of the classic quicksort algorithm in Python. We will explain all of the syntax below, but note how readable it is even if there is syntax you don't know.

In [3]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

## Basic data types

### Numbers

Integers and floats work as you would expect from other languages:

In [4]:
x = 3
print(x, type(x))

3 <class 'int'>

In [5]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [6]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [7]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

<div class="alert alert-warning">
Exercise 1: What is the type of the x variable in the following code?
    
```
y = 2
y *= 2
y -= y / 4
x = y / 2
```
</div>

### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [10]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the operations:

In [11]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

Many types besides the base Boolean types resolve to Booleans. For example, `0` and `1` represent `False` and `True`, respectively.

In [12]:
print(1 and True)

True

<div class="alert alert-warning">
Exercise 2: What is the python logical operator word that corresponds to the symbol "|"?
</div>

<div class="alert alert-warning">
Exercise 3: What is the return value of the code 
    
```
not ((False and (1 or '')) | (not (True or (~0 == True))))
```
    
    
Try to figure it out before running the code!
</div>

In [15]:
(not (True or (~0 == True)))

False

### Strings

In Python, the type `str` (**string**) consists in a sequence of Unicode characters. This means that any accentuated character, in any language, even emoji ðŸ¦„ can all be concatenated in a valid string. Only the `\` (backslash) character must be _escaped_ (add an extra `\` before) because it is used to _escape_ many characters (`\n` for a carriage return, `\t` for a tabulation, etc.) The `r` prefix deactivates the interpretation of the backslash.

In [16]:
str()

''

In [17]:
"bon" + "jour"

'bonjour'

In [18]:
"ä½ å¥½" + " (nÄ­ hÄƒo)" + "â˜€ï¸"

'ä½ å¥½ (nÄ­ hÄƒo)â˜€ï¸'

String literals can use single quotes or double quotes; it does not matter

In [19]:
hello = 'hello'
world = "world"
print(hello, len(hello))

hello 5

Triple quotes allow for multiline strings:

In [20]:
a: str = """Hello world.
      How are you?"""
print(a)

Hello world.
      How are you?

Strings may be indexed and sliced:

In [21]:
a[0]

'H'

In [22]:
a[2:4]

'll'

In [23]:
a[-1]

'?'

In [24]:
a[-8:]

'are you?'

However, strings are **not mutable**:

In [25]:
"hello"[1] = "a"

TypeError: 'str' object does not support item assignment

String objects have a bunch of useful methods; for example:

In [26]:
s = "hello world  "
print(s, len(s))

hello world   13

In [27]:
print(s.capitalize())  # Capitalize a string

Hello world

In [28]:
print(s.upper())       # Convert a string to uppercase

HELLO WORLD

In [29]:
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another

he(ell)(ell)o wor(ell)d

In [30]:
ss = s.strip()
print(ss, len(ss))  # Strip leading and trailing whitespace

hello world 11

In [31]:
print(s.split())

['hello', 'world']

There are three ways to do string formatting in python, in other words to add variables into python strings.

In [32]:
name = 'world'

In [33]:
'Hello %s' % name

'Hello world'

In [34]:
'Hello {}'.format(name)

'Hello world'

In [35]:
f'Hello {name}'

'Hello world'

You can find a list of all string methods in the [documentation](https://docs.python.org/3.9/library/stdtypes.html#string-methods).

<div class="alert alert-warning">
Exercise 4: What is the return of the code
    
```
s = 'to be or not to be'
s.replace('be', s[9:].upper()).lower()
```
</div>

<div class="alert alert-warning">
Exercise 5: What is the return of the code
    
```
s = 3
f'{s}, {s*2}, {s-2 and s/3}'
```
</div>

In [37]:
s = 'to be or not to be'
s.replace('be', s[9:].upper()).lower()

'to not to be or not to not to be'

In [42]:
s = 3
f'{s}, {s*2}, {s-2 and s/3}'

'3, 6, 1.0'

## Variables

Python is a dynamically typed language: variables are untyped, but **values are**. In the following example, variable `a` can _point_ to an integer, then to a string. However values `12` and `"hello world"` are resp. of types `int` and `str`.

In [43]:
a = 12
type(a)

int

In [44]:
a = "hello world"
type(a)

str

It is considered good practice to add type annotations to your code. Annotations are made of any valid Python syntax: they are placed after a column sign and are ignored at runtime. All the following annotations are valid. The return type of functions can also be annotated after the `->` symbol.

In [45]:
a: int = 12
b: str = "hello world"
distance: float = 7.3
distance: "nautical_miles" = 7.3

In [46]:
print(distance, type(distance))

7.3 <class 'float'>

<div class="alert alert-warning">
    Exercise 6: Which of these is <b>not</b> valid as a variable name?
    
```
a, float, 2v, _
```
</div>

## Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Lists

Lists are sequential, _mutable_ containers for heterogeneous values. This structure is very intuitive: its rich set of associated methods, esp. for sorting and searching, makes it a structure of choice by default for many uses.

In [47]:
xs = [3, 1, 2]   # Create a list
print(xs)
print(xs[len(xs)-1])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2]
2
2

In [48]:
3 in xs # "in" to check if a value is in a list

True

In [49]:
xs.sort()
xs

[1, 2, 3]

In [50]:
xs[2] = 'foo'    # Lists can contain elements of different types
xs

[1, 2, 'foo']

In [51]:
xs.append('bar') # Add a new element to the end of the list
xs

[1, 2, 'foo', 'bar']

In [52]:
x = xs.pop()     # Remove and return the last element of the list
x, xs

('bar', [1, 2, 'foo'])

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [53]:
nums = list(range(5))
print(nums)
print(nums[2:4])

[0, 1, 2, 3, 4]
[2, 3]

In [54]:
print(nums[2:])
print(nums[:2])

[2, 3, 4]
[0, 1]

In [55]:
print(nums[:])
print(nums[:-1])

[0, 1, 2, 3, 4]
[0, 1, 2, 3]

In [56]:
nums[2:4] = [8, 9]
print(nums)

[0, 1, 8, 9, 4]

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.8/tutorial/datastructures.html#more-on-lists).

<div class="alert alert-warning">
    Exercise 7: What is the one line of code to add the first element of xs to the end of xs?
</div>

<div class="alert alert-warning">
    Exercise 8: What is the one line of code to remove the second element of xs?
</div>

<div class="alert alert-warning">
    Exercise 9: What is the absolute difference in length between the a and c variables at the end of this code?
    
```
a = [1,2,3]
b = [3,2,1]
c = [1,2,3]
a[len(a):] = b
c.append(b)
```
</div>

In [57]:
a = [1,2,3]
b = [3,2,1]
c = [1,2,3]
a[len(a):] = b
c.append(b)
len(a)-len(c)

2

<div class="alert alert-warning">
    Exercise 10: What is the length of the list e in the following code?
    
```
nums = list(range(10))
nums[::2]
```
</div>

#### Iteration

You can loop over the elements of a list like this:

In [58]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [59]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

<div class="alert alert-warning">
    Exercise 11: What is the last number printed by the following code?
    
```
nums = list(range(5))
for i, n in enumerate(nums):
    nums.pop(i)
    print(n)
```
</div>

#### List comprehensions

List comprehensions are a simple mechanism to construct lists. As an example, consider the following code that computes square numbers:

In [60]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [61]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [62]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

<div class="alert alert-warning">
    Exercise 12: What is the last element of the list produced by the following code?
    
```
[e*j for e,j in enumerate([i for i in range(10) if i % 2 == 1])]
```
</div>

In [64]:
[e*j for e,j in enumerate([i for i in range(10) if i % 2 == 1])]

[0, 3, 10, 21, 36]

<div class="alert alert-warning">
    Exercise 13: What is the second element of the list produced by the following code?
    
```
sorted(i * (-1) ** (i) for i in range(10))
```
</div>

In [66]:
sorted(i * (-1) ** (i) for i in range(10))

[-9, -7, -5, -3, -1, 0, 2, 4, 6, 8]

### Dictionaries

Dictionaries (the `dict` type) are hash tables along the key/value model. All values used as keys must be _hashable_. Dictionaries are mutable: you are free to add and remove new keys and replace values. This structure lies at the core of the implementation of the Python language, so they are particularly optimised in terms of performance.

In [67]:
point = {'latitude': 43.6, 'longitude': 1.45}
point

{'latitude': 43.6, 'longitude': 1.45}

In [68]:
point = dict(latitude=43.6, longitude=1.45) # also valid
point

{'latitude': 43.6, 'longitude': 1.45}

In [69]:
"latitude" in point

True

In [70]:
point["country"] # KeyError, as "country" not in point

KeyError: 'country'

In [ ]:
point["country"] = "France" # assignment creates new keys
point

The `.get()` method allows you to define a default fallback value if the key is not available in the dictionary:

In [71]:
altitude = point.get("altitude", 0)
altitude

0

Many methods exist to access the elements of the dictionary:

In [72]:
point.keys()

dict_keys(['latitude', 'longitude'])

In [73]:
point.values()

dict_values([43.6, 1.45])

In [74]:
point.items()

dict_items([('latitude', 43.6), ('longitude', 1.45)])

In [75]:
dict((key.upper(), value) for (key, value) in point.items())

{'LATITUDE': 43.6, 'LONGITUDE': 1.45}

The prefix operator `**` unpacks dictionaries. You can use it to update a dictionary or to concatenate two dictionaries (also possible with the union operator `|`)

In [76]:
{**point, **{"city": "Paris", "longitude": 1.45}}

{'latitude': 43.6, 'longitude': 1.45, 'city': 'Paris'}

In [77]:
point | {"city": "Paris", "longitude": 1.45}

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

`del` removes elements

In [78]:
del point['country']
print(point.get('country', 'N/A'))

KeyError: 'country'

It is easy to iterate over the keys in a dictionary:

In [79]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [80]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

<div class="alert alert-warning">
    Exercise 14: How many keys does the dictionary d have in the following code?
    
```
d = {x: str(x) for x in range(100) if ((x % 10 == 0) and (x < 50))}
```
</div>

<div class="alert alert-warning">
    Exercise 15: What is the final value of the key "c" in the following code?
    
```
{"a": 1, "b": 2, "c": 3} | {"c": 4, "d": 5, "e": 6}
```
</div>

In [82]:
{"a": 1, "b": 2, "c": 3}; {"c": 4, "d": 5, "e": 6}

{'c': 4, 'd': 5, 'e': 6}

### Sets

A set is an unordered collection of distinct elements. They can be constructed by value enumeration, from an iterable structure (lists, strings, etc.) or by comprehension. As a simple example, consider the following:

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

<div class="alert alert-warning">
    Exercise 16: How many values are in the set in the following code?
    
```
{int(round(x/10)) for x in range(100) if x % 2 == 0}
```
</div>

In [83]:
{int(round(x/10)) for x in range(100) if x % 2 == 0}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

<div class="alert alert-warning">
    Exercise 17: True or False: the first element of the following set is always 0.

```
{x for x in range(100) if x % 10 == 0}
```
</div>

In [110]:
a = {x for x in range(100) if x % 10 == 0}
for i in a:
    print(i)

0
70
40
10
80
50
20
90
60
30

### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. They are defined with the comma operator. The tuple is always displayed with round brackets. A tuple with a single element requires a final comma. An empty tuple require brackets but the explicit constructor helps. Here is a trivial example:

In [111]:
t = (5, 6)       # Create a tuple
print(t, type(t))

(5, 6) <class 'tuple'>

In [112]:
tuple()

()

In [113]:
d = {(x, x + 1): x**2 for x in range(10)}  # Create a dictionary with tuple keys
print(d)
print(d[(5, 6)])

{(0, 1): 0, (1, 2): 1, (2, 3): 4, (3, 4): 9, (4, 5): 16, (5, 6): 25, (6, 7): 36, (7, 8): 49, (8, 9): 64, (9, 10): 81}
25

In [114]:
1, # tuples are defined with the comma operator

(1,)

In [115]:
latlon: tuple = 43.6, 1.45
latlon

(43.6, 1.45)

Tuple unpacking requires as many elements on the left and right sides of the equal sign. You can make an unused variable explicit with the `_` sign. If many such variables are unnecessary, you can group them with the `*` unpacking operator.

In [116]:
lat, lon = latlon
lat

43.6

In [117]:
lat, _ = latlon
lat

43.6

<div class="alert alert-warning">
    Exercise 18: What is the value of b in the following code?

```
a, *_, b = tuple(range(10))
```
</div>

In [121]:
a, *_, b = tuple(range(10))
b

9

## Functions

Python functions are defined using the `def` keyword. For example:

In [122]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

Blocks are defined by indentation. [PEP 8](https://www.python.org/dev/peps/pep-0008/) recommends indentation blocks made of 4 spaces

We will often define functions to take optional keyword arguments, like this:

In [123]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

A function definition may start by a string value, not assigned to any variables. This is the _documentation_ of the function, called _docstrings_. Docstrings may contain example codes with the expected result of the execution. These tests may be executed with the `doctests` module. The ellipsis literal `...` in the docstring matches any string.

In [125]:
def fact(n: int) -> int:
    """Returns the factorial of n.

    >>> fact(6)
    720
    >>> [fact(n) for n in range(6)]
    [1, 1, 2, 6, 24, 120]

    n is negative, a ValueError exception is raised:

    >>> fact(-1)
    Traceback (most recent call last):
        ...
    ValueError: n must be a positive integer
    """
    res = 1
    if n < 0:
        raise ValueError("n must be a positive integer")
    while n > 0:
        res = n * res
        n = n - 1
    return res

<div class="alert alert-warning">
    Exercise 19: What is the return type of the fact function?
</div>

## Classes

The syntax for defining classes in Python is straightforward:

In [126]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

More information about classes can be found in the [documentation](https://docs.python.org/3/tutorial/classes.html)

<div class="alert alert-warning">
    Exercise 20: What is the name of the first argument passed to any class function?
</div>

In [31]:
res = {"answers":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,47,48,49,50,51,52,53,54,55,56,57,58,60,61,62,63,64,65,66,67,68,69,70,71,72,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,143,144],"points":145.0,"user":"c.de-mayenne"}

In [32]:
print("Taken flags : ", 2*(res["points"] - len(res["answers"])))

Taken flags :  16.0

In [33]:
available_questions = range(1,145+1)
print("Taken flags : ", 2*(res["points"] - len(res["answers"])))
print("Remaining questions : ", [x for x in available_questions if x not in res["answers"]])

Taken flags :  16.0
Remaining questions :  [44, 45, 59, 73, 94, 137, 142, 145]

In [46]:
def http_error(status):
    match status:
        case 400 | 401 | 403 | 404:
            return "Bad request"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"
        
http_error(402)

SyntaxError: invalid syntax (570647892.py, line 2)

In [50]:
!python3 --version

Python 3.8.10